.candidates-registration_wizard {

  h2 {
    line-height: 1.2;

    small {
      margin-top: 20px;
      font-size: 18px;
    }
  }

  hr {
    border-top: 1px solid $gray;
  }

  #authorize_linkedin {
    height: 55px;
    font-size: 21px;
    letter-spacing: .1em;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #1b86bc;
    border-color: #1b86bc;

    &:hover,
    &.hover {
      color: #1b86bc;
      background-color: #fff;
      border-color: #fff;
    }
  }

  p.privacy {
    font-size: 12px;
  }
}
