section.row
  = image_tag "hero-1600px.jpg", class: "img-responsive"
section.row[style="min-height: 532px"]
section.row
  = image_tag "submission-1600px.jpg", class: "img-responsive"
section.row[style="min-height: 532px"]
section.row[style="min-height: 532px"]
