.registration_wizard {
  main {
    background-color: #f2f2f2;
  }

  h2 {
    font-size: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  small {
    display: block;
    color: $gray;
  }

  .col-xs-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
    letter-spacing: .05em;

    a {
      color: $brand-warning;
      margin-left: 5px;
    }
  }
}
