.registration_wizard-show {
  main {
    background-color: #f2f2f2;
  }

  #candidate_personal {
    h2 {
      font-size: 40px;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .col-xs-12 {
      padding-left: 30px;
      padding-right: 30px;
    }

    .form-control {
      height: 55px;
      font-size: 14px;
      color: #000;
    }

    .btn {
      height: 55px;
      font-size: 21px;
    }

    .form-actions {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    p {
      font-size: 15px;
      font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
      letter-spacing: .05em;

      a {
        color: $brand-warning;
        margin-left: 5px;
      }
    }
  }
}
