@import "base";

.registration_wizard-show {
  .bootstrap-select {
    .btn.dropdown-toggle {
      height: 55px;
    }
  }

  .checkbox {
    width: 50%;
    display: inline-block;
    border: 1px solid #b5b5b5;
  }

  .checkbox:nth-of-type(odd) {
    //margin-right: 2%;
  }

  .checkbox label {
    min-height: 55px;
    padding-top: 15px;
    padding-left: 35px;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
    //letter-spacing: normal;
  }

  .dropdown-menu > li > a {
    color: #000;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  }
}
