@import "base";

.registration_wizard {
  .bootstrap-select {
    .btn.dropdown-toggle {
      height: 55px;
    }
  }

  .dropdown-menu > li > a {
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  }

  .label-row {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #222;
  }

  .checkbox {
    width: 49%;
    display: inline-block;
    border: 1px solid #b5b5b5;
  }

  span.checkbox {
    margin-top: 0;
  }

  .checkbox:nth-of-type(odd) {
    margin-right: 2%;
  }

  .checkbox label {
    min-height: 55px;
    padding-top: 15px;
    padding-left: 35px;
    color: #444;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  }

  .bootstrap-select.date {
    width: 49%;
    display: inline-block;
  }

  @media (min-width: $screen-sm) {
    .date:nth-of-type(odd) {
      margin-right: 1%;
    }
  }
}
