@import "bootstrap/variables";

#new_contact {
  padding: $line-height-computed 15px ($line-height-computed / 2);

  .form-control {
    height: 48px;
    font-size: 12px;
    color: #000;
  }

  .help-block {
    font-size: 12px;
  }

  input[type=submit] {
    height: 48px;
  }
}

#new_contact_email_error.help-block {
  color: #ff0000;
}

#new_contact_status.help-block {
  margin-top: 24px;
  font-size: 14px;
}

.new-contact-title {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.new-contact-description {
  margin-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.coming-soon-col {
  padding-top: 72px;
}
.logo {
  padding-bottom: 72px;
}

@media (max-width: $screen-xs) {
  .coming-soon-col {
    padding-top: 48px;
  }
  .logo {
    padding-bottom: 48px;
  }
}
