@charset "utf-8";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "pyrite.bootstrap";
@import "swiper";

@import "formValidation";
@import "bootstrap-select";

@import "application/base";

// devise view styles
@import "devise/base";

// view styles
@import "contacts/new";
@import "candidates/landing";
@import "employers/landing";
@import "candidates/registration_wizard/personal";
@import "candidates/registration_wizard/professional";
@import "candidates/registration_wizard/authorize";
@import "pages/base";
@import "patterns/base";
@import "employer_contacts/new";

html, body{
  min-height: 100%;
}

body {
  margin-top: $navbar-height;
  font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: $font-family-sans-serif;
}

.container {
  height: 100%;
}

.container-fluid {
  margin-right: auto;
	margin-left: auto;
}

main {
  min-height: 100vh;
}

// Centered Columns
.row-centered {
  text-align:center;
}

.col-centered {
  display: inline-block;
  float: none;
  // reset the text-align
  text-align: left;
}

.col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.bg-gray-darker {
  background-color: $gray-darker;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.notransition {
  transition: none !important;
}

@media (max-width: $screen-md) {
  body > .container,
  body > .container-fluid {
    width: 100%;
  }
}

@media (min-width: $screen-xs) {
  .height-xs-full {
    height: 100vh;
  }
}

@media (min-width: $screen-sm) {
  .height-sm-full {
    height: 100vh;
  }
}

@media (min-width: $screen-md) {
  .height-md-full {
    height: 100vh;
  }
}

@media (min-width: $screen-lg) {
  .height-lg-full {
    height: 100vh;
  }
}
