@charset "utf-8";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "pyrite.bootstrap";

@import "alertify/alertify.core.scss";
@import 'alertify-bootstrap-3/alertify.bootstrap3.scss';

@import "formValidation";
@import "bootstrap-select";

@import "application/navbar";
@import "application/footer";
@import "application/mixins";
@import "application/buttons";
@import "application/flashes";

// view styles
@import "contacts/new";
@import "pages/candidate_landing";
@import "registration_wizard/personal";

html, body{
  min-height: 100%;
}

body {
  margin-top: $navbar-height;
}

body.pages.pages-candidate_landing {
  margin-top: 0;
}

.container {
  height: 100%;
}

.container-fluid {
  margin-right: auto;
	margin-left: auto;
}

main {
  min-height: 100vh;
}

// Centered Columns
.row-centered {
  text-align:center;
}

.col-centered {
  display: inline-block;
  float: none;
  // reset the text-align
  text-align: left;
}

.bg-gray-darker {
  background-color: $gray-darker;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

@media (max-width: $screen-md) {
  body > .container,
  body > .container-fluid {
    width: 100%;
  }
}

@media (min-width: $screen-xs) {
  .height-xs-full {
    height: 100vh;
  }
}

@media (min-width: $screen-sm) {
  .height-sm-full {
    height: 100vh;
  }
}

@media (min-width: $screen-md) {
  .height-md-full {
    height: 100vh;
  }
}

@media (min-width: $screen-lg) {
  .height-lg-full {
    height: 100vh;
  }
}
