.open-bracket,
.close-bracket {
  border: 1px solid $gray;
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
}

.open-bracket {
  right: 100%;
  border-right: none;
}

.close-bracket {
  left: 100%;
  border-left: none;
}
