.page-header {
  text-align: center;
}

.page-header__text {
  color: #000000;
  display: inline-block;
  font-family: $font-family-body;
  font-size: 2em;
  font-weight: 1000;
  letter-spacing: 0.1em;
  margin-top: 3em;
  text-align: center;
  padding-top:1%;
}
