.step-circle {
  @include circle-stroke(80px, #d6d6d6, none);
  color: white;
  display: block;
  font-size: 32px;
  line-height: 80px;
  margin-top: 16px;
  margin: auto;
  text-align: center;

  &:hover {
    background-color: $orange;
    color: white;
    text-decoration: none;
  }

}

.swiper-pagination-bullet-active {
  .step-circle {
    background-color: $orange;
    color: white;
  }
}
