.alert {
  margin-top: $navbar-height;
  margin-bottom: 0;
  padding-left: 35px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  letter-spacing: .05em;

  &.alert-info {
    color: $brand-primary;
    border: none;
    background-color: #e8f0ff;

    .close:focus,
    .close:hover {
      color: $brand-primary;
    }
  }

  &.alert-warning,
  &.alert-danger {
    color: #ff0021;
    border: none;
    background-color: #ffd9d9;

    .close:focus,
    .close:hover {
      color: #ff0021;
    }
  }
}
