// Site-wide Form Styles
@import "bootstrap/mixins/forms";

.form-control {
  font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  letter-spacing: .05em;
  height: 55px;
  font-size: 14px;
  color: #000;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-actions {
  margin-top: 30px;
  margin-bottom: 30px;

  .btn {
    height: 55px;
    font-size: 21px;
    letter-spacing: .1em;
    font-weight: bold;
  }
}

.help-block {
  font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
  letter-spacing: .05em;
}

.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
  color: $brand-success;
}

.has-success .form-control {
  border: 1px solid #adadad;
}

.has-success .form-control:focus {
  @include form-control-focus($brand-primary);
}
