@mixin background-image($image-path, $options...) {
  background: url(image-path($image-path)) $options;
  background-size: cover;
}

@mixin circle($size, $color) {
  width: $size;
  height: $size;
  border-radius: $size/2;
  background: $color;
}

@mixin circle-stroke($size, $color, $border...) {
  @include circle($size, $color);
  border: $border;
}
