// special style for candidate landing page
.pages-candidate_landing {
  .navbar {
    transition: background-color 0.5s ease;
    background: rgba(255, 255, 255, 0.05);

    &.navbar-scrolled {
      background: #fff;
      color: #828282;
    }
  }
}

.navbar {
  margin-bottom: 0;
  background: #454453;
  border: none;

  .navbar-nav > li > a,
  .navbar-nav > li > button > a {
    color: #fff;
    letter-spacing: 1px;
  }

  .navbar-right {
    margin-right: 30px;
  }

  // need the specificity of .container-fluid
  .container-fluid {
    .navbar-brand {
      margin-left: 0;
      height: 89px;
      padding: 18px 30px 22px;
    }
  }

  .btn.btn-link {
    color: #fff;
  }

  &.navbar-scrolled {
    .navbar-nav > li > a,
    .navbar-nav > li > button > a {
      color: #828282;
    }
    .btn.btn-link {
      color: #828282;
    }
  }
}

// fix button margins for phones
@media (max-width: $screen-sm - 1) {
  .navbar {
    .navbar-btn {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .navbar-right {
      margin-right: -15px;
    }
  }
}
