.navbar {
  margin-bottom: 0;

  transition: background-color 0.5s ease;
  background: rgba(255, 255, 255, 0.05);

  &.navbar-default {
    border: none;

    .navbar-nav > li > a,
    .navbar-nav > li > button > a {
      color: #fff;
      letter-spacing: 1px;
    }
  }

  &.navbar-scrolled {
    //background: #545360;
    background: #454453;
  }

  .navbar-right {
    margin-right: 15px;
  }

  // need the specificity of .container-fluid
  .container-fluid {
    .navbar-brand {
      margin-left: 0;
      padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;
    }
  }

  .btn.btn-link {
    color: #fff;
  }
}

// fix button margins for phones
@media (max-width: $screen-sm - 1) {
  .navbar {
    .navbar-btn {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .navbar-right {
      margin-right: -15px;
    }
  }
}
